<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>

	<title>Sitemap Widget Plugin</title>

	<!-- CSS Stylesheets -->
	<link rel="stylesheet" href="sitemap.css" type="text/css" media="screen" title="Sitemap Stylesheet" />


</head>

<body class="">

<div id="container">
	
	<%= render :partial => "shared/nav" %>
	
	<hr />
	
	<%= yield %>
	
	<hr />
	
	<div id="site_footer">
		<p>Created by <% link_to "Seo And Rails", "http://seoandrails.com/" %></p>
	</div>

</div>
	
</body>
</html>