<h2>Dynamic Sitemap Widgets</h2>

<ul id="page_actions">
	<li><%= link_to "Add a Widget", new_sitemap_widget_url %></li>
</ul>

<p>A Sitemap widget is a dynamic set of objects in your rails app, we use these to build the sitemap XML and XHTML for search engines to consume.</p>

<% for widget in @widgets %>
	<ul>
		<li><%= link_to widget.widget_model, edit_sitemap_widget_url(widget) %> | <%= link_to "delete", sitemap_widget_url(widget), :method => :delete, :style => "color:red" %></li>
	</ul>
<% end %>