<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>

	<title>Sitemap: Site and Page Title</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="copyright" content="Your Company Name" />
	<meta name="lang" content="en" />

	<!-- JavaScript -->

	
	<!-- RSS Auto Discovery -->

	
	<!-- Site Description -->
	<meta name="description" content="Use this tag to populate the description for your site. Content should include the high level details of your site. Should be the same as div#site_description." />
	
	<!-- Search Engine Indexing -->
	<meta name="robots" content="index, follow" />
	<meta name="googlebot" content="index, follow" />

</head>

<body class="">

	<div id="site_and_page_title">
		<h1 id="branding"><span>Use this tag to populate the site and page title. This is the core h1 that should be tied to the site and page title.</span></h1>
	</div>
	
	<div id="site_description">
		<p>Use this tag to populate the description for your site. Content should include the high level details of your site.</p>
	</div>
	
	<hr />
	
	<ul id="site_map">
		<li class="section" id="section_name">
			<h2>Section Heading</h2>
			<ul class="nested_section" id="nested_section_name">
				<li>Page Title</li>
				<li>Page Title</li>
				<li>Page Title</li>
				<li>Page Title</li>
				<li>Page Title</li>
				<li>Page Title</li>
				<li>Page Title</li>
				<li>Page Title</li>
			</ul>
		</li>
	</ul>
	
	<hr />
	
	<div id="site_footer">
		<p>Copyright 2007 <a href="#homepage" title="Populate this tag with the description for your site" rel="home">Site Name</a>, All Rights Reserved.</p>
	</div>
	
</body>
</html>