<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>

	<title>Sitemap: Site and Page Title</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="copyright" content="Your Company Name" />
	<meta name="lang" content="en" />

	<!-- CSS Stylesheets -->
	<link rel="stylesheet" href="../../assets/reset-min.css" type="text/css" />
	<link rel="stylesheet" href="../../assets/sitemap.css" type="text/css" media="screen" title="Sitemap Stylesheet" />

	<!-- JavaScript -->

	
	<!-- RSS Auto Discovery -->

	
	<!-- Site Description -->
	<meta name="description" content="Use this tag to populate the description for your site. Content should include the high level details of your site. Should be the same as div#site_description." />
	
	<!-- Search Engine Indexing -->
	<meta name="robots" content="index, follow" />
	<meta name="googlebot" content="index, follow" />

</head>

<body class="">

<div id="container">

	<div id="site_and_page_title">
		
		<!--
			Use this tag to populate the site and page title.
			This is the core h1 that should be tied to the site and page title.
		-->		
		<h1 id="branding"><a href="#homepage" rel="home"><span>Sitemap: Site and Page Title</span></a></h1>
		
		<div id="site_description">
			<p>Use this tag to populate the description for your site.</p>
			<p>Content should include the high level details of your site.</p>
		</div>
	</div>
	
	<hr />
	
	<dl id="site_map">
		
		<!--
			The ID below, id="section_title", is actually the real title
			of the section used as the dynamic semantic unique identifier.
		-->
		
		<dt class="l1_section_title" id="section_title"><a href="#section_link" title="Section Description" class="loc">Section Title</a></dt>
		<dd class="l1_pages">
			<ul>
				<li><a href="#page" title="Page Description">Give me 5 Minutes, and I'll give you the nuts and bolts of SEO</a></li>
				<li><a href="#page" title="Page Description">Search engines are like little kids looking for their toys</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
			</ul>
		</dd>

		<dt class="l1_section_title" id="section_title"><a href="#section_link" title="Section Description" class="loc">Section Title</a></dt>
		<dd class="l1_pages">
			<ul>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Use this tag to populate the description</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li>
					<dl class="l2_sections">
						<dt class="l2_section_title" id="section_title"><a href="#section_link" title="Section Description" class="loc">Section Title</a></dt>
						<dd class="l2_pages">
							<ul>
								<li><a href="#page" title="Page Description">Use this tag to populate the description</a></li>
								<li><a href="#page" title="Page Description">Page Title</a></li>
								<li><a href="#page" title="Page Description">Page Title</a></li>
								<li><a href="#page" title="Page Description">Page Title</a></li>
								<li><a href="#page" title="Page Description">Page Title</a></li>
								<li><a href="#page" title="Page Description">Page Title</a></li>
								<li><a href="#page" title="Page Description">Page Title</a></li>
								<li><a href="#page" title="Page Description">Page Title</a></li>
								<li><a href="#page" title="Page Description">Page Title</a></li>
								<li><a href="#page" title="Page Description">Page Title</a></li>
								<li><a href="#page" title="Page Description">Page Title</a></li>
								<li><a href="#page" title="Page Description">Page Title</a></li>
							</ul>
						</dd>
					</dl>
				</li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
			</ul>
		</dd>

		<dt class="l1_section_title" id="section_title"><a href="#section_link" title="Section Description" class="loc">Section Title</a></dt>
		<dd class="l1_pages">
			<ul>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
				<li><a href="#page" title="Page Description">Page Title</a></li>
			</ul>
		</dd>

	</dl>
	
	<hr />
	
	<div id="site_footer">
		<p>Copyright 2007 <a href="#homepage" title="Populate this tag with the description for your site" rel="home">Site Name</a>, All Rights Reserved.</p>
	</div>

</div>
	
</body>
</html>