<%= render :partial => "shared/nav" %>

<h2>Non-dynamic Sitemap Links</h2>

<p>A Sitemap static link is a non-dynamic route in your rails app, we use these to help build the sitemap xml and xhtml for search engines to consume.</p>

<% for static_link in @static_links %>
	
	<div>
		<%= link_to static_link.name, edit_sitemap_static_link_url(static_link) %>
	</div>

<% end %>

<%= link_to "Add a Static link", new_sitemap_static_link_url %>