<h2>Non-dynamic Sitemap Links</h2>

<ul id="page_actions">
	<li><%= link_to "Add a Static link", new_sitemap_static_link_url %></li>
</ul>

<p>A Sitemap static link is a non-dynamic route in your rails app. We use these to help build the sitemap XML and XHTML for search engines to consume.</p>

<% for static_link in @static_links %>
	<ul>
		<li><%= (static_link.section + ":") unless static_link.section.empty? %> <%= link_to static_link.name, edit_sitemap_static_link_url(static_link) %> | <%= link_to "delete", sitemap_static_link_url(static_link), :method => :delete, :style => "color:red;" %></li>
	</ul>
<% end %>